html {
  font-size: 12px;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  text-align: center;
  background: hsl(215, 28%, 17%);
  color: hsl(90, 17%, 98%);
  margin: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

@media (max-width: 400px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

a {
  color: hsl(90, 17%, 100%);
}

a:visited {
  color: hsl(90, 17%, 80%);
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: hsl(215, 28%, 22%);
}

@media (max-width: 400px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

#img-div {
  background: hsl(215, 28%, 25%);
  padding: 10px;
  margin: 0;
}

#img-caption {
  margin: 15px 0 5px 0;
}

@media (max-width: 400px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 45px 0;
  text-align: center;
}

ul {
  max-width:500px;
  margin: 0 auto 40px auto;
  text-align: left;
  line-height: 1.5;
}

li {
  margin: 13px 0;
}

blockquote {
  font-style: italic;
  max-width: 520px;
  margin: 0 auto 40px auto;
  text-align: left;
}